<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled" data-toggle="tooltip">
		<% _.each(events, function(event) { %>
			<li>
				<span class="pull-left event <%= event['class'] %>" data-toggle="tooltip"></span>&nbsp;	
                <button title="<%= event.title %>" class="openBtn3" type="button" style="margin: 0px; background-color: transparent; border:1px none;"><%= event.title %> </button>  
			</li>
			<script>
			$('.openBtn3').on('click',function(){
			    $('.modal-body').load("<%= event.url ? event.url : 'javascript:void(0)' %>",function(){
			        $('#events-modal').modal({show:true});
			    });
			});
			</script>

		<% }) %>
	</ul>
</div>
