<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled" data-toggle="tooltip">
		<% _.each(events, function(event) { 
		variable=1;
		variable= variable + 1; %>
			<li>
				<span class="pull-left event <%= event['class']%>" data-toggle="tooltip"></span>&nbsp;	
                <button title="<%= event.title %>" class="<%= variable %>" type="button" style="margin: 0px; background-color: transparent; border:1px none;"><%= event.title %> </button>  
			</li>
			<script>
			$(".<%= variable %>").on('click',function(){
			    $('#modalevento').load("<%= event.url ? event.url : 'javascript:void(0)' %>",function(){
			        $('#events-modal').modal({show:true});
			    });
			});
			</script>

		<% }) %>
	</ul>
</div>
