@import url('bootstrap.min.css');
/* Fixed navbar */
body {
    padding-top: 90px;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
.navbar .navbar-nav-justified{ padding-left: 0; padding-right: 0;}
.navbar .navbar-collapse > .nav-justified.nav-pills > li > a{ padding-top: 15px; padding-bottom: 15px; margin-bottom:0; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;}
.navbar .navbar-collapse > .nav-justified.nav-pills > li + li{ margin-left: 0; border-top:solid 1px #e7e7e7;}
.navbar-toggle-center { width: 100%; float: none; margin: 0 auto; border-width:0; border-radius:0; padding: 14px 15px; font-size: 16px;}
@media (min-width: 768px){
	.navbar .navbar-collapse > .nav-justified.nav-pills > li:first-child > a{ -webkit-border-radius: 4px 0px 0px 4px; -moz-border-radius: 4px 0px 0px 4px; border-radius: 4px 0px 0px 4px;}
	.navbar .navbar-collapse > .nav-justified.nav-pills > li:last-child > a{ -webkit-border-radius: 0px 4px 4px 0px; -moz-border-radius: 0px 4px 4px 0px; border-radius: 0px 4px 4px 0px;}
	.navbar .navbar-collapse > .nav-justified.nav-pills > li + li{ margin-left: 0; border-left:solid 1px #e7e7e7; border-top:0;}
}
.nav-pills a {
font-size: 16px;
opacity: 100;
color:  #2e86c1;
font-weight: bolder;

}

.nav-pills>li>a:hover {
	box-shadow: inset 0 0 0.3em #2e86c1;
}

h2,h4{
   text-shadow: 3px 3px 1px #000000;
   color: white;
}
.flex-column a {
opacity: 100;
color:  white;
}

.flex-column>li>a:hover {
	background-color: #08619c;
	box-shadow: 0 0 1em #000000;
}
