/*TODAS LAS VISTAS*/
*{font-family: 'Open Sans', sans-serif;}

input{
	height: 25px;
	width: 240px;
	text-align: center;
	margin: 7px 7px;}

input[type="submit"]{
	height: 30px;
	width: auto;
	margin: 7px;
	background: #3698F5;
	color: black;
	border: none;
	border-radius: 2px;}

.main{
	width: 1000px;
	height: 450px;
	background: rgba(170,170,170,.5);
	margin: 15% auto;
	color: black;
	padding: 10px;
	-webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);}


input[type="submit"]:hover{
	text-decoration: underline;
	cursor: pointer;}

a{text-decoration: none; color: black;}
a:hover{text-decoration: underline;}

/*INICIO*/

.img_main{
	border-radius: 50%;
	width: 210px;
	height: 210px;
	margin: -105px 400px;
	}

.ingreso_sesion{
	position: absolute;
	text-align: center;
	margin-left: 7% ;
	margin-top: 7%;
	margin-right: 7%
	border-right: solid thin lightgray;}

.title_main{
	position: absolute;
	margin-left: 40%;
	margin-top: 10%;
	text-align: right;
	width: 400px;
	font-weight: lighter;
}

.title_sesion{font-size:20px; color: #0A4179;}

/*INDEX*/


.entidades{
	list-style: none;
	padding-left: none;
	float: right;
	margin: 80px 150px;}

.entidad{
	background: #3698F5;
	width: 150px;
	height: 25px;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 5px;
	border-radius: 2px;}
	.entidad:hover{background:#4aa3f7;}

.img_index{
	width: 210px;
	height: 210px;
	margin: 120px;
	border-radius: 50%;
	float: left;}

/*ENTIDADES*/
.main_entidad{
	width: 1200px;
	height: 700px;
	background: rgba(170,170,170,.5);
	margin: 50px auto;
	color: black;
	padding: 10px;
	-webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);
	box-shadow: 1px 2px 5px 0px rgba(0,0,0,.5);
}

table {
	width: auto;
	margin-top: 10px; 
	background: rgba(227,227,227,.3);
	color: rgb(25,25,25);
	text-align: center;
	font-size: 10px;
}

/*BOTONES*/

button {
	background: #3698F5;
	color: black;
	border: none;
	border-radius: 2px;
	
}

button:hover{
	background:#4aa3f7;
	cursor: pointer;
	text-decoration: underline;
}

.accion{
	margin: 2px; 
	margin: 2px;
	width: 70px;
	height: 25px;
}

.accion_nuevo{
	height: 25px;
	width: auto;
	margin: 20px 0 0 70px;
	height: 25px;
	}

.btn-inicio{
	float: right;
	height: 30px;
	width: auto;
	margin: 20px 40px 0 9px;
	height: 25px;
	}

.btn-salir{
	width: 50px;
	height: 25px;
}
.spacing-1{
  margin-top: 5em;
}

.spacing-2{
  margin-top: 1em;
}

.center{
  text-align: center;
}

.text-accent{
  color: #727272;
}

